.body {
  min-height: 67.9vh;
}

.logo {

  max-width: 400px;
  margin-right: 50px;
}

nav {
  background-color: #FECC00;
}

.img-pathe {

  max-width: 90px;

}

.img-footer {

  max-width: 250px;

}


