<div class="box-img">
  <div class="maison">
    <img alt="maison" src="/assets/Maison.png"/>
  </div>

  <div class="fantome">
    <img alt="fantome" src="/assets/fantome.png"/>
  </div>

  <div class="bonbon">
    <img alt="bonbon" src="/assets/bonbon.png"/>
  </div>

  <div class="spider">
    <img alt="toile" src="/assets/toile.png"/>
  </div>

  <div class="c-s">
    <img alt="c-s" src="/assets/c-s.png"/>
  </div>

  <div class="planete">
    <img alt="planete" src="assets/planete.png"/>
  </div>

  <div class="chaudron">
    <img alt="chaudron" src="assets/chaudron.png"/>
  </div>
</div>




<div class="container">
  <div>
    <img class="homepage" src="/assets/Horror%20on%20Halloween.png"/>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <h1>SORTIES DE LA SEMAINE</h1>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let movie of movies" class="col-4">
      <div class="card shadow" style="width: 18rem;">
        <img *ngIf="movie.image" src="http://localhost:8080/movies/{{movie.id}}/image" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{movie.title}}</h5>
          <p class="card-text">{{movie.synopsis}}</p>
          <button type="button" class="btn btn-warning" (click)="redirectFilmAvis(movie.id)" >Voir ses avis</button>
          <label class="note">Note: {{movie.rate}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
